* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  font-family: Inter, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: hsl(0, 0%, 8%);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 12%);
  width: 350px;
  padding: 20px;
  border-radius: 10px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: hsl(0, 0%, 100%);
}
.profile img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}
.name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.location {
  color: hsl(75, 94%, 57%);
  margin-bottom: 0.9375rem;
}
p {
  color: hsl(0, 0%, 80%);
  text-align: center;
  margin-bottom: 1rem;
}

.social-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

button {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

@media (max-width: 400px) {
  .container {
    width: 75%;
    padding: 15px;
  }
  .profile img {
    width: 80px;
  }
  .name {
    font-size: 1.25rem;
  }
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  background-color: hsl(0, 0%, 8%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
